[orchestrator]
# Secret string that will be used for cross-process communication
shared_secret = "abcdef"

[sql]
# 'connection_string' should be the sql connection string. eg. mysql://username:password@localhost/database
# if connection_string is empty, an in-memory (non-persistant) sqlite database will be used.
connection_string = "mysql2://orchestrator:uAU13fRt2pzx@localhost/orchestrator"
# Set init to true for the first execution to create the database then switch it to 'false' for persistence
# CAUTION - if 'true' this will reset your database
init = true

[web]
address = 127.0.0.1
port = 8998

[plugin]
cloud = 


[cert]
# The path under which certificates are stored
path = /etc/ssl/certs/orchestrator
# The key file relative to the above path
key = my-server.key
# The certificate file relative to the above path
cert = my-server.crt

[docker]
# The network details of the Docker helper application
# The address should be the same as below
helper_address = 127.0.0.1
helper_port = 8997

# The network details of Docker's API
# Should use the same host as above
url = 'http://127.0.0.1'
port = 4243

# Command to run within the image
command = nginx-ipv6
#command = sleep 60

# Base image to launch on client connection
image = c/ubuntu-proj
#image = base
